// Styling for the masthead
header.masthead {
  text-align: center;
  // Title font color //
  color: black;

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 550px;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 300px;
    position: absolute;
    top: 210px;
    left: 20%;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
      
      
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 10px;
      padding-bottom: 300px;
      position: absolute;
      top: 210px;
      left: 20%;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
.ransford_bubble{
  border-radius: 65%;
  background-color: radial-gradient($teal, transparent);
  
}
.intro-lead-in{
  color: $pink !important;
}
.fullscreen-video-wrap{
  object-fit: scale-down !important;
}
@media (max-width:629px) {
  img#Beach3 {
    display: none;
  }
}


//***************Styling for hiding video *****************
.hide {
  display: none!important;
}